h1{
    font-family:Arial, Helvetica, sans-serif;
    font-weight:700;
    font-style:oblique;
    font-size:xx-large;
    color:black;
    text-shadow: 2px 2px gray;
}
.headings{
    background-color:red;
}
h3{
    background-color:red;
}
ul{
    background-color: white;
    width: 300px;
}
#website{
    background-color:white;
    width: 300px;
}
blockquote{
    background-color:white;
    width: 200px;
}
li{
    background-color: white;
    width: 300px;
}
figcaption{
    background-color: white;
    width: 300px;
}
body p b{
    text-transform: uppercase;
}
a:link{
    color:purple;
}
a:visited{
    color:blue;
}
p{
    width: 500px;
    padding: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(37, 34, 34);
    box-sizing: content-box;
    margin: 20px;
    background-color: gray;
    font-family:monospace;
    outline-style: solid;
    outline-color: red;
    text-indent: 50px;
}
p1{
    background-color: white;
}
body{
    background-image: url(https://www.stickershoppe.com/mm5/graphics/00000001/SS97061.jpg);
    opacity: 1.5;
}
